/* NAVIGATION */

.toc ol {
list-style-type: none;
margin: 0 0 0 2em;
padding: 0 0 0 0;
}

.toc ol li {
margin: 0 0 0 0;
padding: 0 0 0 0;
}

.toc ol li a {
text-decoration: none;
color: black;
font-family: sans-serif;
}

#guide {
display: none;
}

